<h1>My Portfolio</h1>
<ul>
  <% data.portfolio_pieces.pieces.each do |piece| %>
    <li>
      <h2><%= piece.name %></h2>
      <ul>
        <li>URL: <%= piece.URL %></li>
        <li>Description: <%= piece.description %></li>
        <% if piece.features %>
          <li>Features:
            <% piece.features.each do |feature| %>
              <li><%= feature %></li>
            <% end %>
          </li>
        <% end %>
        <% if piece.code_samples %>
          <li>Code Samples:
            <ul>
              <% piece.code_samples.each do |sample| %>
                <li><code><%= sample %></code></li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <li>Next Steps:
          <ul>
          </ul>
        </li>
      </ul>
    </li>
  <% end %>
</ul>
